<!DOCTYPE html>
<html ng-app="MyApp" >
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />


    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>prebuild.me</title>

    <!-- Bootstrap -->
    <link href="/stylesheets/bootstrap.min.css" rel="stylesheet">
    <link href="/stylesheets/prebuild.me.css" rel="stylesheet">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

    <!-- <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.2/angular.js" ></script> -->
    <script data-main="/javascripts/main.js" src="/javascripts/require.js" ></script>
  </head>
  <body>
    <div ng-controller="TodoCtrl" >
      <table>
        <tr>
          <th>Name</th>
          <th>Description</th>
          <th></th>
        </tr>

        <tr ng-repeat="task in tasks" >
          <td ng-bind="task.name"></td>
          <td ng-bind="task.description"></td>
          <td><button ng-click="remove($index)">Finished!</button></td>
        </tr>

        <tr>
          <td><input type="text" ng-model="new_task.name" /></td>
          <td><input type="text" ng-model="new_task.description" /></td>
          <td><button ng-click="add()" ng-disabled="is_invalid" >Add</button></td>
        </tr>
      </table>

    </div>
  </body>
</html>